@using CMS.ViewModels
@model UserViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/content.css">
</head>
<body>
    <div class="containers">
        @foreach (var item in Model.Users)
        {
            
        <div class="container">
            <div class="text">
                Content
            </div>
            <form action="#">
                <div class="form-row">
                    <div class="input-data">
                        <!-- <input type="text" required/> -->
                        <!-- <div class="underline"></div> -->
                        <label for="">FullName:@item.FullName</label>
                    </div>
                    <div class="input-data">
                        <!-- <input type="text" required/> -->
                        <div class="underline"></div>
                        <label for="">Admin panel</label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="input-data">
                        <!-- <input type="text" /> -->
                        <div class="underline"></div>
                        <label for="">id:@item.UserCode</label>
                    </div>
                    <div class="input-data">
                        <!-- <input type="phone" /> -->
                        <div class="underline"></div>
                        <label for="">Category:@item.Category.Name</label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="input-data textarea">
                        <!-- <textarea rows="8" cols="80" required></textarea> -->
                        <br />
                        <div class="underline"></div>
                        <label for="">Password:@item.Password</label>
                        <br />
                        <div class="form-row submit-btn">
                            <div class="input-data">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <h3>@item.FullName 's content</h3>
            <div class="cards">
                <div class="card">
                    
                    <p class="p-text">@item.Category.Name</p>
                </div>
               
            </div>
            <div class="inner"></div>
            <!-- <input type="submit" value="submit" class="submit"/> -->

        </div>
        }
        
    </div>
</body>
</html>
